/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.site-layout-content {
    background: #fff;
    padding: 24px;
    min-height: 380px;
}

.logo {
    width: 200px;
    min-height: 31px;
    margin: 16px 24px 16px 0;
    float: left;
    background-image: url(https://www.honeybadger.io/images/navbar_logo.svg?1602785015);
    background-repeat: no-repeat;
}

.table-striped-rows th,
.table-striped-rows td {
    border-bottom: 1px solid #dedddd !important;
}

.table-striped-rows tr:nth-child(2n) td {
    background-color: #fbfbfb;
}

.table-striped-rows thead {
    background-color: #f1f1f1;
}
